* {
  margin: 0;
  padding: 0;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

.container {
    width: 100%;
    min-width: 100vh;
    background : linear-gradient(150deg, #F3D0D7, #FFEFEF, #F0EBE3);
    padding: 10px;
    height: 100vh;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 10px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #461468;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    font-weight: 900;
    text-decoration:  underline;
}

.todo-app h2 img {
    width: 40px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f7b4;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input {
    flex : 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-weight: 14px;
}

input:hover {
    font-size: large;
    font-weight: 700;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #0a3b03;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover {
    background-color: #19747a;
    font-size: large;
}

ol li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}

ol li:hover {
    font-size: large;
    font-weight: 700;
    color: #b80d0d;
}

ol li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(Images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ol li.checked {
    color: #555;
    text-decoration: line-through;
}

ol li.checked::before {
    background-image: url(Images/checked.jpg);
}

ol li span {
    position: absolute;
    right: 0;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ol li span:hover {
    background: #FA7070;
    color: white;
}